* {
    margin: 0;
    padding: 0;
}
div.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    background-color: #354252;
    color: #AABDD5;
    font-family: 'Alata', sans-serif;

}